.settings-page {
    max-width: 400px;
    margin: 0 auto;
    color: white;
    padding: 0;
  }
  
  .settings-page form {
    padding: 5%;
  }
  
  .settings-page form input[type='file'],
  .settings-page form input[type='text'] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  