.video-library-popup {
  background-color: #d0bf86 !important;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%; /* Adjust the width as desired */
  max-width: 500px; /* Add a maximum width if needed */
  z-index: 1000;
  overflow-y: auto;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}
.video-list {
  margin-top: 20px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.close-icon {
  color: #000;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup-header {
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.title-bar {
  display: flex;
  align-items: left;
}

.title-bar h2 {
  margin-bottom: 0;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 20px;
}


.video-player {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.video-element {
  width: 100%;
  height: auto;
}

.video-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}


.back-button {
  margin-bottom: 10px;
}