@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app-container {
  display: flex;
  flex-direction: column;
  padding: 0 2.4%;
  padding-top: 2%;
}

button {
  width: 100%;
  height: 50px;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #d0bf86;
  text-align: center !important;
  align-content: center !important;
  border: none !important;
  font-family: Montserrat !important;
  color: #322c4e !important;
  font-weight: 600 !important;
}

body {
  background-color: #322c4e;
  background-image: url('/Users/devinfox/Desktop/voice-alchemy/src/top-background.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#a4 {
  display: none !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.button-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 1%;
}

.button-column button {
  flex-grow: 1;
  margin: 1%;
  background-color: #d0bf86;
  text-align: center !important;
  align-content: center !important;
  border: none !important;
  font-family: Montserrat !important;
  color: #322c4e !important;
  font-weight: 600 !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

@media (max-width: 768px) {
  .header-left {
    flex-basis: 33%; /* Take up 33% of the screen width */
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white; /* Set font color to white */
}

.header-left {
  display: flex;
  align-items: center;
  color: inherit; /* Reset font color to inherit from parent */
}

.header-right {
  display: flex;
  align-items: center;
  color: inherit; /* Reset font color to inherit from parent */
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.welcome-message {
  font-weight: bold;
}

.current-time {
  font-size: 14px;
}

.placeholder-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.placeholder-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.earTrainingContainer {
  margin: 5% 0;
}

.welcome-message {
  font-family: Montserrat !important;
  font-weight: 500;
  font-size: 15px;
}

.current-time {
  font-family: Montserrat !important;
  font-weight: 500;
  font-size: 15px;
}

.header {
  margin-bottom: 4%;
}


/* .top-part-container {
  padding-top: 2%;
  background-image: url('/Users/devinfox/Desktop/vaa/src/top-background.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 70%;
} */

#root {
  padding: 5%;
}

html {
  font-family: Montserrat;
}
